<span class="svg-wrapper icon-success" role="img" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-success" viewBox="0 0 13 13" fill="none" width="13" height="13">
    <path fill="currentColor" d="M6.5 12.35 1.15 7.15l1.05-1.05 4.3 4.15 5.25-5.25 1.05 1.05L6.5 12.35Z"/>
  </svg>
</span>
