<span class="svg-wrapper icon-error" role="img" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-error" viewBox="0 0 13 13" fill="none" width="13" height="13">
    <circle cx="6.5" cy="6.5" r="5.5" stroke="currentColor" stroke-width="1"/>
    <path stroke="currentColor" stroke-linecap="round" stroke-width="1" d="M6.5 4v3M6.5 9h.01"/>
  </svg>
</span>
